data/.mixin.out
data/.fabric
data/.cache
data/libraries
data/logs
data/mods
data/plugins
data/versions/

data/.rcon-cli.env
data/.rcon-cli.yaml

data/eula.txt
data/*.jar
data/*.log

data/ops.json
data/server.properties

data/usercache.json
data/whitelist.json
